body, html{
    background-color: #ffec5e;
}
header{
    background-color: #36173d;
}
.navbar-a{
    color: white;
    text-decoration: none;
}
#listFilms div{
    border: 1px solid black;
    height: 30px;
    background-color: #ffc55f;
}
#listFilms div:hover{
    background-color: #ffb940;
}
#filmAction{
    display: flex;
    background-color: #ffec5e;
    flex-wrap: wrap;
    justify-content: center;
}
#filmAction div{
    height: 20em;
    width: 13em;
    background-color: red;
    border: 2px solid white;
    margin: 10px;
    display: flex;
}
.Titulo{
    text-align: center;
    background-color: #ff745f;
}