body, html{
    background-color: #000000 !important;
    font-family: cursive !important;
    background-image: url(./codioful-formerly-gradienta-1LirzgcpY2c-unsplash.jpg);
}
header{
    background-color: #920202;
}
.navbar-a{
    color: white;
    text-decoration: none;
}
footer{
    display: flex;
    background-color: #920202;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}
#listFilms div{
    border: 1px solid black;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(253, 224, 58, 0.856);
    color: white;
}
#listFilms div:hover{
    background-color: #ffb940;
}
#filmAction, #filmRomance, #filmAdventure, #filmSus, #filmAnime{
    display: flex;
    background-color: transparent;
    flex-wrap: wrap;
    justify-content: center;
}
#filmAction div, #filmRomance div, #filmAdventure div, #filmSus div, #filmAnime div{
    height: 15em;
    width: 8em;
    background-color: transparent;
    border: 2px solid white;
    margin: 10px;
    display: flex;
    justify-content: center;
    padding: 6px;
    transition: transform 0.3s ease-in-out;
}
#filmAction div h2, #filmRomance div h2, #filmAdventure div h2, #filmSus div h2, #filmAnime div h2{
    font-size: 12px;
}
@media (max-width: 700px) {
    #filmAction div, #filmRomance div, #filmAdventure div, #filmSus div, #filmAnime div{
        height: 7em;
        width: 4em;
    }
    #filmAction div h2, #filmRomance div h2, #filmAdventure div h2, #filmSus div h2, #filmAnime div h2{
        font-size: 7px;
    }
    #showMore, #showLess, #showMore2, #showLess2, #showMore3, #showLess3, #showMore4, #showLess4, #showMore5, #showLess5{
        font-size: 10px;
    }
}

#filmAction div p, #filmRomance div p, #filmAdventure div p, #filmSus div p, #filmAnime div p{
    display: none;
}
#filmAction div:hover, #filmRomance div:hover, #filmAdventure div:hover, #filmSus div:hover, #filmAnime div:hover{
    display: flex;
    transform: scale(1.1);
}
.Titulo, .Titulo2{
    text-align: center;
    background-color: transparent;
    color: rgba(253, 224, 58, 0.856);
    margin: 0;
}
#btn {
    border-color: black;
    color: black;
    background-color: rgba(253, 224, 58, 0.856);
}
#btn:hover{
    background-color: rgb(0, 0, 0);
    border-color: rgba(253, 224, 58, 0.856);
    color: rgba(253, 224, 58, 0.856);
}

#showMore, #showLess, #showMore2, #showLess2, #showMore3, #showLess3, #showMore4, #showLess4, #showMore5, #showLess5{
    background-color: rgba(253, 224, 58, 0.856);
    color: black;
    border: 2px solid black;
    width: 70%;
}
#showMore:hover, #showLess:hover, #showMore2:hover, #showLess2:hover, #showMore3:hover, #showLess3:hover, #showMore4:hover, #showLess4:hover, #showMore5:hover, #showLess5:hover{
    background-color: rgb(218, 185, 0);
    color: black;
    border: 2px solid black;
}
.actionClass{
    display: flex;
    flex-direction: column;
    align-items: center;
}